.root {
    -fx-background-image: url("background.jpg");
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian , rgba(137, 131, 131, 0.5), 0,0,0,1);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#86acb4 0%, #c7d9de 25%, #c7d9de 75%, #86acb4 100%);
    -fx-text-fill: black;
}

.list-cell:odd {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: #ffffff;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: #0093ff;
    -fx-text-fill: black;
}

#welcome-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #868080;
    -fx-effect: innershadow( three-pass-box , rgba(58, 56, 56, 0.5), 0,0,0,1);
}
#actiontarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(229, 198, 198, 0.5), 0,0,0,1);
}

#totalAmountLabel {
    -fx-background-color: white;
}

#rechnungen {
    -fx-text-fill: white;
}

#checkout {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#39c99d, #56b94e);
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,6) , 5, 0.0, 0, 1);
}

#sofort-storno {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#f89696, #d30000);
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,6) , 5, 0.0, 0, 1);
}

#warenkorb-leeren {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#f89696, #d30000);
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,6) , 5, 0.0, 0, 1);
}

#groupbutton {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#969696, #c5bdbd);
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,6) , 5, 0.0, 0, 1);
}

#itembutton {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#e6e7e6, #d9dad9);
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,6) , 5, 0.0, 0, 1);
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,6) , 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}